:root{
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --font-Family: "Poppins", sans-serif;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font-Family);
}
#root{
  padding: 3em 1.5em;  
}
header{
  text-align: center;
}
h1{
  font-weight: 300;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 4vw + 0.5rem, 3rem);
}
h2{
  font-weight: 600;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 4vw + 0.5rem, 3rem);


}
header p{
  text-align: center;
  font-size: 15px;
  font-size: clamp(1rem, 2vw + 0.2rem, 1.3rem);
  padding-top: 1em;
  color: var(--grey-400);
}
main{
  border: 2px solid white;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 5em;
  margin-top: 5em;
}
.box{
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em 1.5em;
  border-radius: 1em;
  box-shadow:  1em 1em 2em rgb(113, 119, 119);
}
.box h3{
  font-size: 1.8rem;
  font-weight: 500;
}
.box p{
  font-size: 15px;
  color: var(--grey-400);
}
.box div{
  display: flex;
  flex-direction: column;
}
img{
  width: fit-content;
  align-self: flex-end;
}
.supervisor{
  border-top: 10px solid var(--cyan);
}
.team{
  border-top: 10px solid var(--red);
}
.karma{
  border-top: 10px solid var(--orange);
}
.calculator{
  border-top: 10px solid var(--blue);
}

@media (min-width:1024px) {
  main{
    display: grid;
    grid-template-rows: auto auto;     
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "start mid1 end"
                          "start mid2 end";
  }
  .supervisor{
    grid-area: start;
    align-self: center;
  }
  .team{
    grid-area: mid1;

  }
  .karma{
    grid-area: mid2;
  }
  .calculator{
    grid-area: end;
    align-self: center;
  }
  #root{
      padding: 2em 5em;  
  }
  header {
    padding: 1rem 20em;
  }
  .box{
     padding: 2em 4em;
  }
  
}